<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Practise</title>
</head>
<body>
    <div class="chat-box">
       chats will be display here with corrected sentences

    </div>
    <div class="mic">
        <button class="mic-button"><img src="assets/mic.jpg" class="mic-img" alt=""></button>
        <div class="timer">00:00</div>
    </div>
    <script src="script.js"></script>
</body>
</html>