.body{
    margin: 0;
    height: 100%;
    background-image: linear-gradient(rgb(211, 60, 211), rgb(243, 243, 113));
    background-repeat: no-repeat;
}
.wishes{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
}
#wishes{
    color: white;
}
.container-home{
    display: flex;
    flex-direction: row;
    padding: 5em;
    justify-content: center;
    gap: 50px;
}
.card-img-top{
    height:349px;
}
.background{
    background-color: rgb(127, 31, 93) !important;
    height: 6em;
}
.profile-icon{
    height: 5em;
}
.form-login , .login-container{
   padding: 5em;
    display: flex;
    flex-direction: column;
    align-content:center;
    justify-content: center;
    flex-wrap: wrap;
}
.heading{
    display: flex;
    justify-content: center;
}
.mic{
    display:flex ;
    justify-content: center;
}
.mic-img{
    width: 10em;
}
.chat-box{
    margin-left: 18em;
    margin-top: 3em;
    margin-bottom: 1em;
    padding: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20em;
    width: 50em;
    border-radius: 10px;
    background-color: rgb(213, 209, 209);
}
.timer {
    font-size: 2rem;
    margin-top: 10px;
    text-align: center;
}
.mic-button{
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
}